{% extends "base.html" %}

{% block content %}
    <br>
    <h2 class="nav justify-content-center">Productos disponibles</h2>
    <br>
    <div class="row">
        <div class="col-sm-4 mb-3">
            <div class="card">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Producto 1">
                <div class="card-body">
                    <h5 class="card-title">Café</h5>
                    <p class="card-text">Cappucino, vainilla, chocolate.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3">
            <div class="card">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Producto 1">
                <div class="card-body">
                    <h5 class="card-title">Donut Clásica</h5>
                    <p class="card-text">Glaceada, manjar, chocolate.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3">
            <div class="card">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Producto 1">
                <div class="card-body">
                    <h5 class="card-title">Donut Premium</h5>
                    <p class="card-text">Decorada, promocional, alta calidad</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
